<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/styles.css" />

    <title>Julia's Pics</title>
</head>

<body>
    <div id="main-content">
        {{>navbar}}

        <main>

            <div class="aboutMeCon">
                <img class="aboutMePhoto"
                    src="https://www.clipartkey.com/mpngs/m/88-889088_transparent-petty-clipart-cartoons-characters-with-curly-hair.png"
                    alt="it's me">
            </div>
            <h1>What I offer:</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit velit ab accusamus sapiente. Reprehenderit
                dolores provident excepturi exercitationem, quae adipisci inventore quas laboriosam at, vitae atque
                necessitatibus delectus nulla consequatur!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit velit ab accusamus sapiente. Reprehenderit
                dolores provident excepturi exercitationem, quae adipisci inventore quas laboriosam at, vitae atque
                necessitatibus delectus nulla consequatur!</p>


        </main>
    </div>
    {{>footer}}
</body>

</html>