<div class="sidebar">
    <h1><a href="/">JW</a></h1>
    <nav>

        <a href="/photos">Photos</a><br><br>
        <a href="/about">About</a><br><br>
        <a href="/contact">Contact</a><br><br>


        <div class="row" id="social-medias">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
            <a href="#">
                <i class="fab fa-linkedin" aria-hidden="true"></i>
            </a>

        </div>
    </nav>
</div>